page-login {
  .bg{
    background: url('../imgs/bg.png') no-repeat center center fixed;
    background-size: cover;
  }

  .form {
    margin-top: 60%;
  }

  .btn1 {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  .item.item-input {
    background-color: transparent;
  }
}
