page-profile {
  .profile-bg{
    background: url('../imgs/menu.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .mybtn {
    background-color: transparent;
    margin-right: -5%;
    margin-top: -5%;
  }

  #HeadPhoto {
    margin: auto;
    position: relative center;

  }
  .button-inner{
    color: #f9f9f9;
  }
}
