// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//$menu-ios-background: '../../www/imgs/menu.jpg';
//$menu-md-background: '../../www/imgs/menu.jpg';

.menu-bg{
  //background-color: #82bcfd;
  background-color: #3b437c;
}

.logout {
  margin-top: 90%;
}

.toolbar-background {
  //background-color: color($colors, primary);
  background-color: #3b437c;
}

.mynavbar {
  color: color($colors, light);
}
.toolbar-title-md{
  color: #f9f9f9;
}
.label-md{
  color: #f9f9f9;
}
.item-md{
  background-color: #3b437c;
}
